*{
    font-family:'Renogare'; 
}

.hrQS {
    height: 3px;
    width: 250px;
    background-color: white;
  }
  .hrC {
    height: 3px;
    width: 55%;
    background-color: white;
  }

.quienesSomos{
    padding: 3%;
    background-color: #437bb2;
    color:white;
}
#quienes{

margin: 0%;}

#imgF{
    margin: 0%;
    padding: 0%;
}
.ahr {
    height: 5px;
    background-color: black;
    margin: 0%;
  }
.contact{
    padding: 3%;
    background-color: #437bb2;
    color:white;
    padding-top: 5%;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    width: 15em;
}
.item3{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    padding-top: 0%;
}

.item2{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    color: #437bb2;
    text-align: left;
}
form{
    margin-right: 200px;
}

