@font-face {
    font-family: Renogare2;
    src: url('../Renogare.otf');
}
*{
    font-family:'Renogare2'; 
}


.hrQS {
    height: 3px;
    width: 250px;
    background-color: white;
  }
  .hrC {
    height: 3px;
    width: 55%;
    background-color: white;
  }

.quienesSomos{
    padding: 3%;
    background-color: #437bb2;
    color:white;
}
#quienes{

margin: 0%;}

#imgF{
    margin: 0%;
    padding: 0%;
}
.ahr {
    height: 5px;
    background-color: black;
    margin: 0%;
  }
.contact{
    padding: 3%;
    background-color: #437bb2;
    color:white;
    padding-top: 5%;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    width: 15em;
    color: black;
}
.item3{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    padding-top: 0%;
}

.item2{
    border: black 2px solid;
    margin-bottom: 10px;
    font-family: 'MADE TOMMY';
    font-size: 100%;
    color: #437bb2;
    text-align: left;
}
@media (max-width:600px){
    .mini{
        display: none;
    }

}
@media (min-width: 601px){
    .grande{
        display: none;
    }
}
.compu{
    font-size: 80%;
    font-family: arial;
    color:white;
}
.compu:hover{
    color:black;

}
.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }